body {
	/*font-family: "extravaganzza", "Museo Sans", "Segoe UI", "Lucida Grande", Tahoma, sans-serif;*/
	font-size: 100%;
	width: 224px;
	margin: 0px;
	margin-bottom: 7px;
	/*background-color: #80bfff;*/
	background-color: #F9EEEE;
}

@font-face{
	font-family: extravaganzza;
	src: url(extravaganzza.ttf);
}

#description{
	font-family: "extravaganzza", "Gotham Rounded A", "Gotham Rounded B", Helvetica, Arial, sans-serif;
	color: rgba(0, 0, 0, .6);
	font-size: 12px;
	margin-left: 9px;
}

#recentPlaylistsTitle{
	margin-top: 10px;
}

#recentPlaylistsList{
	width: 93vw;
	margin: auto;
	margin-top: 10px;
}

.recentsListItem{
	text-align: center;
	margin-bottom: 5px;
}

.recentsInsertButton{
	width: 75%;
	float: left;

	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.recentsDeleteButton{
	width: 20%;
	float: right;
}

.recentPlaylistsSizeText{
	font-family: "extravaganzza", "Gotham Rounded A", "Gotham Rounded B", Helvetica, Arial, sans-serif;
	color: rgba(0, 0, 0, .9);
	font-size: 14px;
	text-align: left;
}

.title{
	margin: auto;
	display: block;
	text-align: center;
	font-size: 20px;
	font-family: "extravaganzza", "Gotham Rounded A", "Gotham Rounded B", Helvetica, Arial, sans-serif;
}

.errorText{
	color: rgba(200, 0, 0, 0.6);
	text-align: left;
	font-size: 12px;
	margin-left: 11px;
	width: 90%;
}

.color-div{
	height: 6px;
	width: 29px;
	position: relative;
}

.green{
	background-color: #C4E17F;
	margin-left: 0px;
}

.yellow{
	background-color: #F7FDCA;
	margin-top: -6px;
	margin-left: 28px;
}

.orange{
	background-color: #FECF71;
	margin-top: -6px;
	margin-left: 56px;
}

.red{
	background-color: #F0776C;
	margin-top: -6px;
	margin-left: 84px;
}

.pink{
	background-color: #DB9DBE;
	margin-top: -6px;
	margin-left: 112px;
}

.purple{
	background-color: #C49CDE;
	margin-top: -6px;
	margin-left: 140px;
}

.blue{
	background-color: #669AE1;
	margin-top: -6px;
	margin-left: 168px;
}

.aqua{
	background-color: #62C2E4;
	margin-top: -6px;
	margin-left: 196px;
}

[type='text'] {
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	width: 90%;
	border: 0;
	border-bottom: 2px solid rgba(0,0,0,.2);
	height: 30px;
	background: transparent;
	line-height: 45px;
	margin-bottom: 0px;
	font-size: 1em;
	color: rgba(0,0,0,.4);
}

[type='text']:focus {
	outline: none;
	color: rgba(0, 0, 0, .75);
	border-color: #53CACE;
}

#foldersText{
	font-family: "extravaganzza", "Museo Sans", "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
	src: url("extravaganzza.ttf");
}

#bookmarksButtonShuffle{
	margin: auto;
	margin-top: 15px;
	width: 93vw;
}

#bookmarksButtonInOrder{
	margin: auto;
	margin-top: 5px;
	width: 93vw;
}

.ph-button {
    border-style: solid;
    border-width: 0px 0px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
	border-radius: 4px;
    font-style: normal;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all 200ms ease-in-out 0s;
    white-space: nowrap;
    font-family: "extravaganzza", "Gotham Rounded A", "Gotham Rounded B", Helvetica, Arial, sans-serif;
    font-weight: 700;
    padding: 8px 39px 8px;
    font-size: 18px;
}

.ph-button-insert {
    border-style: solid;
    border-width: 0px 0px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    color: #FFFFFF;
	cursor: pointer;
	border-radius: 4px;
    font-style: normal;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all 200ms ease-in-out 0s;
    white-space: nowrap;
    font-family: "extravaganzza", "Gotham Rounded A", "Gotham Rounded B", Helvetica, Arial, sans-serif;
    font-weight: 700;
    padding: 2px 2px 2px 2px;
}

.ph-button-delete {
    border-style: solid;
    border-width: 0px 0px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    color: #FFFFFF;
	cursor: pointer;
	border-radius: 4px;
    font-style: normal;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all 200ms ease-in-out 0s;
    white-space: nowrap;
    font-family: "extravaganzza", "Gotham Rounded A", "Gotham Rounded B", Helvetica, Arial, sans-serif;
    font-weight: 700;
    padding: 2px 0px 2px 0px;
}

.ph-btn-white {
	background-color: #feaa01;
	border-color: #b27701;
}

.ph-btn-white:hover, .ph-btn-white:focus, .ph-btn-white:active {
	background-color: #cb8801;
    border-color: #b27701;
}

.ph-btn-red {
	background-color: #F0776C;
	border-color: #E93F2F;
}

.ph-btn-red:hover, .ph-btn-red:focus, .ph-btn-red:active {
	background-color: #EC5446;
    border-color: #E93F2F;
}

.ph-btn-purple {
	background-color: #9853C6;
	border-color: #703399;
}

.ph-btn-purple:hover, .ph-btn-purple:focus, .ph-btn-purple:active {
	background-color: #7E39AC;
    border-color: #703399;
}

.ph-btn-green {
	background-color: #5FCF80;
	border-color: #3AC162;
}

.ph-btn-green:hover, .ph-btn-green:focus, .ph-btn-green:active {
    background-color: #4BC970;
    border-color: #3AC162;
}
